body {
  background: wheat;
}

/* Hero section */
.card {
  border: 2px groove blue;
  text-align: center;
  box-sizing: border-box;
  margin: 540px;
  border-radius: 80px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background: whitesmoke;
}

.hero {
  position: relative;
  display: inline-block;
}

.icon-overlay {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 40px;
  color: #242222;
  cursor: pointer;
}

.image {
  border-radius: 50px;
  width: 700px;
  height: 300px;
  margin-top: 10px;
}

/* Avatar */
.avatar {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 230px;
  left: 230px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-radius: 50%;
  clip-path: inset(0 0 50% 0);
}

.avatar img {
  position: absolute;
  inset: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  object-fit: cover;
  border-radius: 50%;
}

/* Info Section */
